{% extends 'logged.html.twig' %}

{% block body %}
    <main>
    {% for wish in wishes %}
        {% include 'wish/_wish.html.twig' with {'wish': wish} %}
    {% endfor %}
    </main>

    <ul>
        <li>
            <a href="{{ path('wish_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
